{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container my-5" style="min-height: 69.3vh;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h3>Password Reset Done</h3>
            <hr>
            hiii {{request.user.username}} <br>
            Your New Password Set SuccessFully Completed !!!!

            <p>Now you can Login With New Password</p>
            <div class=" text-primary fw-bold"><small><a href="{% url 'login' %}"
            class="text-danger">Login Now</a> </small></div>
        </div>
    </div>
   
</div>
{% endblock main-content %}