{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container my-5" style="min-height: 69.3vh;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h3>Password Reset Done</h3>
            <hr>
            Dear User, <br>
            Password Reset link send SuccessFully in your mail account, <b>Check Your Mail</b>
        </div>
    </div>
   
</div>
{% endblock main-content %}