{% extends 'app/base.html' %}
{% load static %}
{% block title %}Set New Password{% endblock title %}
{% block main-content %}
<div class="container my-5" style="min-height: 69.3vh;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h3>Set New Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
        
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label}} {{fm}} <small class="mb-3" style="color: red;">{{fm.errors | striptags}}</small> <br>
                {% endfor %}
        
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
        
        
                <input type="submit" class="btn btn-primary mt-4" value="Login">
            </form>
        </div>
    </div>
   
</div>
{% endblock main-content %}